<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.capstone.com.matchingkak">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".sns_login.App"
        android:allowBackup="true"
        android:icon="@drawable/main_icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="937bc07ebdf5c1ccf379cb739a1b7ced" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Main.Editor.EditorActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".detail_info.DetailActivity"
            android:theme="@style/AppTheme.collapsing"/>
        <activity android:name=".sns_login.loginActivity" />
        <activity android:name=".sns_login.SuccessActivity" />
        <activity android:name=".Main.Main2Activity" >
                <intent-filter>
                    <action android:name="android.intent.action.SEARCH"></action>
                </intent-filter>


        </activity>
        <activity android:name=".Message.Message2Activity" />
        <activity
            android:name=".Main.message.MessageDetail"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name=".list_game.ListGameActivity"></activity>
    </application>

</manifest>